*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #ffffff;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#82ccdd, #0a3d62);
    color: white;
    width: 700px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.search-box{
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
}

.city-name{
    width: 450px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 3px black;
    transition: all 250ms ease-in-out;
}



.search{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    border: none;
    box-shadow: 0 0 3px black;
    color: #0984e3;
    background-color: white;
    line-height: 30px;
    transition: all 250ms ease-in-out;
}

.search:hover{
    color: white;
    background-color: #0984e3;
    transform: scale(1.3);
}

.timezone{
    display: flex;
    justify-content: space-between;
}

.city{
    font-size: 40px;
    margin: 10px 40px;
}

.country-name{
    font-size: 20px;
    margin-top: 20px;
}

.co-ordinates{
    font-size: 15px;
    margin: 10px 40px;
}

.temperature{
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

.degree{
    font-size: 30px;
}

.description{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.feel, .pressure{
    text-align: right;
}

.humidity, .visibility{
    text-align: left;
}

.wind-speed{
    text-align: center;
}

#submit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alert-box{
    width: 300px;
    height: 120px;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.item{
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 10px;
    font-size: 18px;
}

#submit, #close{
    outline: none;
    background-color: #0984e3;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.item i{
    color: red;
}



